<!--HOME-->
<section id="home" >
  <mat-toolbar>
    <span>PORTFÓLIO</span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <div class="home">
    <div class="home-div col-t-3 col-d-3">
      <h1 class="home-name regular">Sahydi</h1>
      <h1 class="home-last-name bold">Abrahão</h1>
      <h2 class="home-profession bold">Desenvolvedor</h2>
    </div>
  </div>
</section>

<!--ABOUT ME-->
<section id="about-me" >
  <div class="about-me">
    <div class="about-me-div col-t-3 col-d-3">
      <h2 class="about-me-title regular">SOBRE</h2>
      <h1 class="about-me-name bold">Sahydi Abrahão</h1>
      <p class="about-me-paragraphy regular">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      <button mat-raised-button color="primary">Currículo</button>
    </div>
  </div>
</section>

<!--STACK-->
<section id="stack" >
  <div class="stack">

    <h2 class="stack-title regular">Desenvolvedor Full Stack</h2>


    <div class="stack-div col-t-3 col-d-3">
      <img src="/assets/images/Figma.svg"/>
      <p class="stack-paragraphy regular">Figma</p>
    </div>
    <div class="stack-div col-t-3 col-d-3">
      <img src="/assets/images/Angular.svg"/>
      <p class="stack-paragraphy regular">Angular Framework</p>
    </div>
    <div class="stack-div col-t-3 col-d-3">
      <img src="/assets/images/Spring.svg"/>
      <p class="stack-paragraphy regular">Spring Framework</p>
    </div>
    <div class="stack-div col-t-3 col-d-3">
      <img src="/assets/images/Java.svg"/>
      <p class="stack-paragraphy regular">Java</p>
    </div>
    <div class="stack-div col-t-3 col-d-3">
      <img src="/assets/images/PostgreSQL.svg"/>
      <p class="stack-paragraphy regular">PostgreSQL</p>
    </div>
  </div>
</section>
