<!--HOME-->
<section id="home" >
  <mat-toolbar>
    <span>PORTFÓLIO</span>
    <button (click)="onMenu()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <div class="home">
    <div class="home-div col-t-12 col-d-12">
      <h1 class="home-name regular">Sahydi</h1>
      <h1 class="home-last-name bold">Abrahão</h1>
      <h2 class="home-profession bold">Desenvolvedor Full Stack</h2>
    </div>
  </div>
</section>

<!--ABOUT ME-->
<section id="about-me" >
  <div class="about-me">
    <div class="about-me-div col-t-12 col-d-12">
      <h2 class="about-me-title regular">SOBRE</h2>
      <h1 class="about-me-name bold">Sahydi Abrahão</h1>
      <p class="about-me-paragraphy regular">
        Desenvolvedor Full Stack com habilidades necessárias para desenvolver uma aplicação do começo ao fim, do banco de dados à interface do usuário.
        Desenvolver o front-end e o back-end de uma aplicação, bem como encaminhar o seu deploy.
        Profissionais que apresentam conhecimento de todas as camadas de uma aplicação agregam eficiência e agilidade ao projeto, uma vez que o conhecimendo dos dois lados
        possibilita a participação ativa nas tomadas de decisão e alinhamentos técnicos em prol da comunicação no desenvolvimento do projeto.</p>
      <div class="about-me-btn">
        <a target=blank href="https://github.com/sahydiabrahao/certificados/blob/main/Curriculo.pdf">
          <button class="btn curriculum" mat-raised-button >Currículo</button>
        </a>
        <a target=blank href="https://github.com/sahydiabrahao/certificados">
          <button class="btn certificates" mat-raised-button >Certificados</button>
        </a>
      </div>
    </div>
  </div>
</section>

<!--STACK-->
<section id="stack" >
  <div class="stack">
    <div class="stack-div col-t-12 col-d-12">
      <h2 class="stack-title regular">COMPETÊNCIAS</h2>
      <h1 class="stack-name bold">Desenvolvedor Full Stack</h1>
    </div>

    <div class="stack-software col-t-2 col-d-2">
      <img src="/assets/images/Figma.svg"/>
      <p class="stack-paragraphy regular">Figma</p>
    </div>
    <div class="stack-software col-t-2 col-d-2">
      <img src="/assets/images/Angular.svg"/>
      <p class="stack-paragraphy regular">Angular Framework</p>
    </div>
    <div class="stack-software col-t-2 col-d-2">
      <img src="/assets/images/Spring.svg"/>
      <p class="stack-paragraphy regular">Spring Framework</p>
    </div>
    <div class="stack-software col-t-2 col-d-2">
      <img src="/assets/images/Java.svg"/>
      <p class="stack-paragraphy regular">Java</p>
    </div>
    <div class="stack-software col-t-2 col-d-2">
      <img src="/assets/images/PostgreSQL.svg"/>
      <p class="stack-paragraphy regular">PostgreSQL</p>
    </div>
  </div>
</section>


<!--PORTFOLIO-->
<section id="portfolio" >
  <div class="portfolio">
    <div class="portfolio-div col-t-12 col-d-12">
      <h2 class="portfolio-title regular">PORTFÓLIO</h2>
      <h1 class="portfolio-name bold">Projetos</h1>
    </div>
    <div class="portfolio-project col-t-12 col-d-12">
      <img class="img-contact-book" src="/assets/images/portfolio_contactBook.jpg" width="100%" height="auto"/>
      <p class="portfolio-paragraphy regular">Agenda de contatos (Angular Spring Java e PostgreSQL)</p>
      <a target=blank href="https://crud-angular.onrender.com/">
        <button class="btn curriculum" mat-raised-button >Acessar</button>
      </a>
    </div>
  </div>
</section>


<!--CONTACT ME-->
<section id="contact" >
  <div class="contact">
    <div class="contact-div col-t-12 col-d-12">
      <h2 class="contact-title regular">FALE COMIGO</h2>
      <h1 class="contact-name bold">Contato</h1>
    </div>
    <div class="contact-icon col-t-3 col-d-3">
      <img src="/assets/images/Email.svg"/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <h2 class="contact-text regular">sahydi@protonmail.com</h2>
    </div>
    <div class="contact-icon col-t-3 col-d-3">
      <a target=blank href="https://www.linkedin.com/in/sahydi-abrahao-44979a251/">
        <img src="/assets/images/Linkedin.svg"/>
      </a>.
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <h2 class="contact-text regular">Linkedin</h2>
    </div>
    <div class="contact-icon col-t-3 col-d-3">
      <a target=blank href="https://www.github.com/sahydiabrahao">
        <img src="/assets/images/GitHub.svg"/>
      </a>.
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <h2 class="contact-text regular">GitHub</h2>
    </div>
  </div>
</section>

<div id="footer">
  <div>
    <p class="footer-text regular">Janeiro de 2023</p>
  </div>
  <div>
    <p class="footer-text regular">Sahydi Abrahão</p>
  </div>
</div>


<!--MENU MODAL-->
<ng-container *ngIf="showModal">
  <div class="modal">
    <div class="btns-modal">
      <button (click)="onMenuHome()" class="btn-modal bold" mat-raised-button >Início</button>
      <button (click)="onMenuAboutMe()" class="btn-modal bold" mat-raised-button >Sobre</button>
      <button (click)="onMenuStack()" class="btn-modal bold" mat-raised-button >Competências</button>
      <button (click)="onMenuPortfolio()" class="btn-modal bold" mat-raised-button >Portfólio</button>
      <button (click)="onMenuContact()" class="btn-modal bold" mat-raised-button >Contato</button>
    </div>
  </div>
</ng-container>
