/*:::::Default::::*/
*         { margin: 0px;}

.regular  { font-family: RobotoCondensed-Regular; }
.bold     { font-family: RobotoCondensed-Bold; }

/*:::::Home::::*/
#home {
  height: 768px;
  background-image: url(/assets/images/home_background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000000;
}

mat-toolbar {
  font-family: RobotoCondensed-Regular;
  justify-content: space-between;
  color: var(--color01);
  background-color: transparent;
}

.home-div{
  height: 100%;
  margin-left: 16px;
  margin-top: 300px;
  color: #FFFFFF
}

.home-name{
  font-size: 80px;
  font-family: RobotoCondensed-Regular;
  line-height: 1.2;
  font-weight: 400;
}

.home-last-name{
  font-size: 100px;
  font-family: RobotoCondensed-Bold;
  line-height: 1.2;
}

.home-profession{
  font-size: 17px;
  font-family: RobotoCondensed-Bold;
  line-height: 1;
}

/*:::::About Me::::*/
#about-me {
  height: 768px;
  background-color: var(--color02);
}

.about-me-div{
  height: 100%;
  margin-left: 16px;
  margin-top: 16px;
  color: var(--color01);
}

.about-me-title{
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
}

.about-me-name{
  font-size: 50px;
  line-height: 1.2;
  font-weight: 500;
}

.about-me-paragraphy{
  text-align: justify;
  font-size: 16px;
  color: var(--color03);
  margin-right: 32px;
}

.btn{
  color: var(--color01);
  background-color: transparent;
  width: 120px;
  margin-top: 16px;
  margin-right: 16px;
  border: 1px;
  border-style: solid;
  border-color: var(--color01);
  font-family: RobotoCondensed-Regular;
}
.btn:hover {
  color: var(--color02);
  background-color: var(--color01);
}


/*:::::Stack::::*/
#stack {
  height: auto;
  min-height: 280px;
  background-color: var(--color04);
}
.stack-div{
  margin-left: 16px;
  margin-top: 16px;
  text-align: left;
  color: var(--color01);
}

.stack-software{
  margin-left: 16px;
  margin-top: 16px;
  text-align: center;
  color: var(--color01);
}

.stack-title{
  text-align: left;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
}

.stack-name{
  font-size: 50px;
  line-height: 1.2;
  font-weight: 500;
}

.stack-paragraphy{
  font-size: 16px;
  color: var(--color03);
}

/*:::::Portfolio::::*/
#portfolio {
  height: auto;
  min-height: 400px;
  background-color: var(--color02);

}
.portfolio-div{
  margin-left: 16px;
  margin-top: 16px;
  text-align: left;
  color: var(--color01);
}

.portfolio-title{
  text-align: left;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
}

.portfolio-name{
  font-size: 50px;
  line-height: 1.2;
  font-weight: 500;
}

.portfolio-project{
  margin-top: 16px;
  margin-left: 16px;
  text-align: center;
  color: var(--color01);
}

.portfolio-paragraphy{
  font-size: 16px;
  color: var(--color03);
}

/*:::::Contact Me::::*/
#contact {
  height: auto;
  min-height: 400px;
  background-image: url(/assets/images/call_background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000000;
}

.contact-div{
  margin-left: 16px;
  margin-top: 16px;
  text-align: left;
  color: var(--color01);
}

.contact-title{
  text-align: left;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
}

.contact-name{
  font-size: 50px;
  line-height: 1.2;
  font-weight: 500;
}
.contact-icon{
  display: flex;
  direction: row;
  margin-left: 42px;
  margin-top: 16px;
  margin-bottom: 16px;
  color: var(--color01);
}

.contact-text {
  font-size: 32px;
  font-weight: 200;
}

/*Footer*/
#footer {
  display: flex;
  direction: row;
  height: auto;
  min-height: 30px;
  background-color: var(--color02);
  justify-content: space-between;
  color: var(--color01);
}

.footer-text {
  margin-top: 8px;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 12px;
}
